.App {
  text-align: center;
  background-color: #333333;
  color: aliceblue;
}

select,
input {
  border: 0;
  background: none;
}

.currency-section {
  background: rgb(237, 243, 243);
  width: 190px;
  margin: 0 auto 15px;
  display: grid;
  grid-template-columns: 130px 50px;
  border-radius: 10px;
}

input {
  padding: 10px;
}
